<h1>Editing Book</h1>
<%= form_with model: @book, url:book_path(@book.id), method: :patch do |f| %>

<% if @book.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= @book.errors.count %> error prohibited this book from being saved:
  </h2>
   <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>
</div>

<div>
  <lable>Title</lable>
  <%= f.text_field :title %>
</div>
  
<div>
  <lable>Body</lable>
  <%= f.text_area :body %>
</div>
  
  <div class="action">
    <%= f.submit 'Update Book' %>
  </div>
  
<% end %>

<%= link_to 'Show', @book %> |
<%= link_to 'Back', books_path %>
